<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://cxf.apache.org/jaxws 
	http://cxf.apache.org/schemas/jaxws.xsd">

	<bean name="soapLoggingHandler" class="org.okj.commons.soap.client.SOAPLoggingHandler" />

	<bean name="credentialHandler"
		class="org.okj.commons.soap.client.UsernamePasswordCredentialHandler">
		<property name="username" value="${soap.username}" />
		<property name="password" value="${soap.password}" />
	</bean>

	<bean name="soapHandlerResolver" class="org.okj.commons.soap.client.SimpleHandlerResolver">
		<property name="handlerChain">
			<list>
				<ref bean="credentialHandler" />
				<ref bean="soapSOAPLoggingHandler" />
			</list>
		</property>
	</bean>

	<bean name="abstractServicePolicy" abstract="true">
		<property name="endpointAddress" value="${soap.address}" />
		<property name="handlerResolver" ref="soapHandlerResolver" />
	</bean>

</beans>